
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #1c702e, #001a00); /* Gradiente verde escuro para preto */
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Verde */
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #fff; /* Branco ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho */
}
